body{
    background: white url("images/background.png") no-repeat;
    background-position: right bottom;
}

li a {
    color: white
}


a:focus,
a:hover {
    display: inline-block;
   color: lightgreen;
   transform: translateY(-2px);
   transition: 1s;
   text-decoration: underline;
 }
a {
   color: green;
   text-decoration: none;
}
